{% extends 'reader/base.html' %}
{% load static %}

{% block title %}
{{ article.headline }}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'reader/segment_holder.css' %}">
{% endblock css %}

{% block content %}
	<h1>
        {% spaceless %}
    	{% for idx,segment in segments_headline.iterrows %}
    	    {% if segment.dict_entry %}
                <a tabindex="-1" class="segment-holder" data-toggle="popover" data-placement="bottom" data-html='true' data-trigger='focus' data-content="{% include 'reader/explain_popover.html' with entries=segment.dict_entry word=segment.segment %}">{{segment.segment|linebreaksbr}}</a>
            {% else %}
                <span>{{segment.segment|linebreaksbr}}</span>
    	    {% endif %}
    	{% endfor %}
        {% endspaceless %}
    </h1>
	<br>
	<br>
    {% spaceless %}
	{% for idx,segment in segments_body.iterrows %}
    	{% if segment.dict_entry %}
            <a tabindex="-1" class="segment-holder" data-toggle="popover" data-placement="bottom" data-html='true' data-trigger='focus' data-content="{% include 'reader/explain_popover.html' with entries=segment.dict_entry word=segment.segment %}">{{segment.segment|linebreaksbr}}</a>
        {% else %}
            <span>{{segment.segment|linebreaksbr}}</span>
        {% endif %}
	{% endfor %}
    {% endspaceless %}
    <div class='container'>
        <p></p>
        <p>Categories: 
        {% for c in article.categories.all %}
            <a href={% url 'category' c.name %}>{{ c.name }}</a>
            {% if not forloop.last %},{% endif %}
        {% endfor %}
        </p>
        <p class="text-muted">Original source <a href='{{ article.url }}'>here</a></p>
    </div>
{% endblock content %}


{% block js %}
    <!-- Enable all popovers -->
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock js %}
