{% extends 'reader/base.html'%}

{% block title %}
{{ category.name }}
{% endblock title %}

{% block content %}
<h1>{{ category.name }}</h1>

{% if associated_articles %}
    <ul>
    {% for d, articles in associated_articles.items %}
        <li>Published: {{ d|default:'A long time ago...' }}
        <ul>
        {% for article in articles %}
            <li><a href={% url 'article' article.id %}>{{ article.headline }}</a></li>
        {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}

{% endblock content %}
